* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
     background: url(../photo/bcg.jpg);
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 10rem;
     margin-block: 10vh;
     font-family: 'Montserrat', sans-serif
}
h1 {
    font-size: 4rem;
    color: #11e4eb;
}
.login{
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 16px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    padding: 2rem;
    width: 30rem;
    height: 22rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(234, 254, 255);
}
.login img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}
form div{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}
label{
    color: #11e4eb;
    padding-bottom: 0.5rem;
    font-weight: bold;
}
.username , .password {
    background: rgba(255, 255, 255 , 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 0.5px solid rgb(231, 253, 255);
    padding: 0.8rem;
    color: white;
    font-size: 1rem;
    outline: none;
    width: 25rem;
    border-radius: 6px;
}
.button {
    width: 8rem;
    height: 2rem;
    border: 1px solid rgb(234, 254, 255);
    color: #11e4eb;
    font-size: 0.9rem;
    font-weight: 900;
    background: rgba(255, 255, 255 , 0.1);
    margin-top: 1rem;
    cursor: pointer;
    border-radius: 5px;
}
.alert{
    width: 20rem;
    height: 2rem;
    border-radius: 3px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0; 
}
.alert p{
    color: white;
    font-weight: bold;
}

@keyframes alertAnimation{
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes changeBackground{
    0% {background-color: white;}
    50% {background-color: red;}
    100% {background-color: white;}
}